* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body{
    margin: 0;
    height: 100vh;
    background-color: #000000;
    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 15px;
}

label {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

input {
    padding: 8px;
    border-radius: 5px;
    border: none;
    outline: none;
}

button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

#message{
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
}